<main class="index">
  <header class="mastheader valign-wrapper" >
    <div class="container center-align">
      <h1 class="mb-1">Movie List</h1>
      <h3 class="mb-5">
        <em>Store your favorite Movies, watch it later</em>
      </h3>
      <a class="waves-effect waves-light btn-large" href="/links">
        Let's get started
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>
