<div class="container p-4">
  <div class="row">
    <div class="col s12 m6 l4 offset-m3 offset-l4">
      <div class="card">
        <div class="card-content">
          <h3 class="center-align">Welcome {{user.fullname}}</h3>
          <h4 class="center-align">{{user.username}}</h4>
          <div class="center-align">
            <a href="/links" class="waves-effect waves-light btn">
              Save your movies
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>